.container{
    background-color: #F0A397;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirect{
    cursor: pointer;
}
.redirect:hover{
    font-size: 1rem;
    transition: 0.5s;

}
.email{
    /* background-color: red; */
}
/* .submit{
    color: white;
    border: 2px solid white;
    background: transparent;
    margin: 0.3rem 0.5rem;
    width: 10rem;
}
    
.submit:hover{
    border:solid 2px gray;
    color: gray;
    cursor: pointer;
    transition: 0.5s;
} */

.submit{
    background:#F0A397;
    color: white;
    margin-bottom: 1rem;
    border: none;
    width: 10rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
}
.submit:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
}
.authBlock{
    background-color: #D58895;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 10px;
    
    /* width: 100%; */
}