.container{
    /* background-color: red; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}
.videoIcon{
    /* background-color: goldenrod; */
    width: 10rem;
}
mat-icon{
    /* width: 10rem; */
    font-size: 10rem;
    color: gray;
}
.anotherProfile, .myProfile, .home{
    /* font-weight: 500; */
    font-size: 1.3rem;
}