.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-color: #D58895;
    width: 100%;
    height: 100%;
    /* margin-bottom: 5rem; */
}
.btn:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.btn{
    width: 50%;
    height: 3rem;
    margin: 0.5rem 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    transition: 0.5s;
    color:white;
    background-color: #D58895;
    border: none;
    
}
.btn:hover{
    transition: 0.5s;
}