<div class="settings">
    <div class="blockedUsers" *ngIf="promptEvent" (click)="installPwa()">
        Download App
    </div>

    <div class="blockedUsers" *ngIf="this.authService.isLoggedIn" routerLink="/profile/edit">
        Edit Profile
    </div>

    <div (click)="openDialog()" class="blockedUsers" *ngIf="this.authService.isLoggedIn">
        Blocked Users
    </div>

   

    <button *ngIf="this.authService.isLoggedIn" class="btn signout" (click)="this.authService.SignOut()">Sign out</button>
   
    <button *ngIf="!this.authService.isLoggedIn" class="btn" id="btn1" routerLink="/r/signin">Sign In</button>
    <button *ngIf="!this.authService.isLoggedIn" class="btn" id="btn2" routerLink="/r/signup">Sign Up</button>
</div>
<app-tool-bar (scrollEvent)="scroll()" [where] = "'settings'"></app-tool-bar>