<div class="toolbar">
    <!-- <img class="logo" src="../../../assets/images/logoWhite.svg" alt=""> -->
    <!-- <div class="flexItems"> -->
    <div class="flexItem" routerLink="/home">
        <img src="../../../assets/images/home.svg" alt="">
        <span class="navButtonText">Home</span>
    </div>
    <div class="flexItem">
        <img src="../../../assets/images/trend.svg" alt="">
        <span class="navButtonText">Trending</span>
    </div>
    <div class="plus" routerLink='/start'>
        <img src="../../../assets/images/plus.svg" alt="">
    </div>
    <div class="flexItem">
        <img src="../../../assets/images/notification.svg" alt="">
        <span class="navButtonText">Notification</span>
    </div>
    <div class="flexItem" routerLink='/settings'>
        <img src="../../../assets/images/settings.svg" alt="">
        <span class="navButtonText">Settings</span>
    </div>
    <!-- </div> -->
</div>