.flexContainer {
    background-color: white;
    position: fixed;
    flex-direction: column;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.flexItem {
    margin: 1rem;
    padding: 5px;
}