<div class="toolbar">
    <div class="flexItems">
        <div class="flexItem">
            <img src="../../../assets/images/home.svg" alt="">
            <span class="navButtonText">Home</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/trend.svg" alt="">
            <span class="navButtonText">Trending</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/notification.svg" alt="">
            <span class="navButtonText">Notification</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/settings.svg" alt="">
            <span class="navButtonText">Settings</span>
        </div>
    </div>
</div>