<div class="notificationContainer" *ngIf="this.user">
    <div class="notification">
        <mat-icon>{{icon}}</mat-icon>{{user.displayName + text}} <button class="join" *ngIf="isInvitation" [routerLink]="['/session/'+notification.lid]" >join</button>
    </div>
    <!-- notificationType.LIKE -->
    <div class="user">
        <a [routerLink]="'/u/'+user?.uid">
            <img [src]="user?.photoURL?user.photoURL:'./assets/images/logo.svg'" 
                 alt="Profile Photo">
            <div class="name">
                <span>{{user.displayName}}</span>
                <span class="username">@{{user.username}}</span>
                <span class="bio">{{user.bio}}</span>
            </div>
        </a>
    </div>
</div>
