<h1 mat-dialog-title>Edit your info</h1>
<mat-dialog-content>


    <div class="fileDiv">
        <mat-label>Image</mat-label>
        <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg" />

    </div>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input #name (input)="changed('changed name')" matInput type="text" name="" id="name" class="input"
            value="{{db.me.displayName}}">
    </mat-form-field>

    <mat-form-field>

        <mat-label>Bio</mat-label>
        <textarea #hhh (input)="changed('changed bio')" #bio rows="5" cols="10" matInput name="" id="name"
            class=" input" value="{{db.me.bio}}"></textarea>
        <!-- <textarea (keydown)="changed()" #bio rows="7" cols="10" matInput name="" id="name" class=" input"
            value="{{this.data.bio}}"></textarea> -->
    </mat-form-field>






</mat-dialog-content>

<mat-dialog-actions align="center">
    <button [disabled]="!this.haveUpdated" (click)="editProfile(name.value,bio.value)" id="submit" mat-stroked-button
        mat-dialog-close mat-dialog-close>Submit</button>
    <button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close="true">cancel</button>

</mat-dialog-actions>