<div class="recordedVideoPageContainer" *ngIf="!livestream?.isActive">
	
	<div class="recordedVideoContainer">

		<div class="recordedVideoOptions">
			<div class="like" (click)="like($event)">
				<mat-icon class="likeIcon">{{likeState}}</mat-icon>
			</div>
			<div routerLink="/home" class="leave">
				Leave
			</div>
			
			<div class="dislike" (click)="dislike($event)">
				<mat-icon>{{dislikeState}}</mat-icon>
			</div>
		</div>
		

		
		

		<video *ngIf="!livestream?.isActive" style="z-index: 10;" controls autoplay>
			<source [src]="livestream?.videoURL" >
		</video>
	</div>
</div>

<div class="container" id="session" *ngIf="livestream?.isActive" >
	<div class="stop" (click)="openDialog()" *ngIf="isHost">
		Stop Livestream
	</div>
	<div routerLink="/home" class="stop" *ngIf="!isHost">
		Leave
	</div>
	
	<!-- <button *ngIf="isHost" (click)="toggleCamera()">switch</button>	 -->
	<div id="video-container">
		<div class="chatContainer">
			<div #chatContainer class="chat">
				<!-- .slice().reverse() -->
				<div #mes class="messageContainer" *ngFor="let data of chat.slice().reverse()">
						<img class="senderAvatar" [src]="data.photoURL" onError="this.onerror=null;this.src='./assets/images/logoWhite.svg';" alt="Sender Image">
					<div class="messageContentRightSide">
						<div class="sender">@{{data.username}}</div>
						<div class="message" #msg id="ms">
							{{data.message}}
						</div> 
					</div>
				</div>	
			</div>
			<div class="toolbar" *ngIf="db.me">
				<div class="chatInput">	
					<input type="text" #message placeholder="Say somthing..." maxlength="120" value="">
					<button class="sendButton"  (click)="sendMessage(message.value);message.value=''">
					<mat-icon class="send" >send</mat-icon>
					</button>
				</div>
				<div class="likeDislike">
					<div class="like" (click)="like()" *ngIf="!isHost">
						<mat-icon class="likeIcon">{{likeState}}</mat-icon>
					</div>
					<div class="dislike" (click)="dislike()" *ngIf="!isHost">
						<mat-icon>{{dislikeState}}</mat-icon>
					</div>
					
					<div *ngIf="isHost && publisher" class="muteUnmute" (click)="ToggleAudio()" >
						<mat-icon>{{micState}}</mat-icon>
					</div>
					<div *ngIf="isHost && publisher" class="muteUnmute" (click)="ToggleVideo()" >
						<mat-icon>{{camState}}</mat-icon>
					</div>
					<div *ngIf="isHost && publisher"> <mat-icon (click)="toggleCamera()">switch_camera</mat-icon> </div>
					
				</div>
			</div>
		</div>
		
		
	</div>
	
	<ng-template #stopDialog>
		<div class="dialog">
			<h1 matDialogTitle>Stop Dialog</h1>

			<div class="save">
				<mat-label>Do you want the Livestream to be saved in your profile after finshed?</mat-label>
				<mat-slide-toggle #saved [(ngModel)]="saveisChecked">Yes</mat-slide-toggle>
			</div>
			
			<mat-dialog-actions align="end">
				<button id="stop" mat-stroked-button mat-dialog-close mat-dialog-close
					(click)="stopRecording()">Stop
				</button>
				<button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close>Cancel</button>
			</mat-dialog-actions>
		</div>
	</ng-template>
</div>