<div class="recordedVideoPageContainer" *ngIf="!livestream?.isActive">

	<div class="recordedVideoContainer">

		<div class="recordedVideoOptions">
			<div class="like" (click)="like($event)">
				<mat-icon class="likeIcon">{{likeState}}</mat-icon>
			</div>
			<div routerLink="/home" class="leave">
				Leave
			</div>

			<div class="dislike" (click)="dislike($event)">
				<mat-icon>{{dislikeState}}</mat-icon>
			</div>
		</div>

		<video id='vid' *ngIf="!livestream?.isActive" style="z-index: 10;" controls autoplay>
			<source [src]="livestream?.videoURL">
		</video>
	</div>
</div>

<div class="container" id="session" *ngIf="livestream?.isActive">
	<div class="stop" (click)="openStopDialog()" *ngIf="isHost">
		Stop Livestream
	</div>
	<div class="stop" *ngIf="!isHost" (click)="leaveSession()">
		Leave
	</div>

	<!-- <button *ngIf="isHost" (click)="toggleCamera()">switch</button>	 -->
	<div id="video-container">

		<div class="chatContainer">
			<div class="currentViewers">
				<mat-icon>person</mat-icon>
				<span>{{this.db.getLivestream(this.lid)?.currentViews}}</span>
			</div>

			<div #chatContainer class="chat">
				<!-- .slice().reverse() -->
				<div #mes class="messageContainer" *ngFor="let data of chat.slice().reverse()">
					<img class="senderAvatar" [src]="data.photoURL"
						onError="this.onerror=null;this.src='./assets/images/logoWhite.svg';" alt="Sender Image">
					<div class="messageContentRightSide">
						<div class="sender">@{{data.username}}</div>
						<div class="message" #msg id="ms">
							{{data.message}}
						</div>
					</div>
				</div>
			</div>
			<div class="toolbar" *ngIf="db.me">
				<div class="chatInput">
					<input type="text" #message placeholder="Say somthing..." (focusout)="onResize()" maxlength="120" value=""
						(keyup.enter)="sendMessage(message.value);message.value=''">
					<button class="sendButton" (click)="sendMessage(message.value);message.value=''">
						<mat-icon class="send">send</mat-icon>
					</button>
				</div>
				<div class="likeDislike">
					<div class="like" role="button" (click)="like()" *ngIf="!isHost">
						<mat-icon class="likeIcon">{{likeState}}</mat-icon>
					</div>
					<div class="dislike" role="button" (click)="dislike()" *ngIf="!isHost">
						<mat-icon>{{dislikeState}}</mat-icon>
					</div>

					<div *ngIf="isHost && publisher" class="muteUnmute" role="button" (click)="ToggleAudio()">
						<mat-icon>{{micState}}</mat-icon>
					</div>
					<div *ngIf="isHost && publisher" class="muteUnmute" role="button" (click)="ToggleVideo()">
						<mat-icon>{{camState}}</mat-icon>
					</div>
					<div *ngIf="isHost && publisher" role="button" (click)="openSwitchDialog()">
						<mat-icon>switch_camera</mat-icon>
					</div>
				</div>
			</div>
		</div>


	</div>

	<ng-template #stopDialog>
		<div class="dialog">
			<h1 matDialogTitle>Stop Dialog</h1>

			<div class="save">
				<mat-label>Do you want the Livestream to be saved in your profile after finshed?</mat-label>
				<mat-slide-toggle #saved [(ngModel)]="saveisChecked">Yes</mat-slide-toggle>
			</div>

			<mat-dialog-actions align="end">
				<button id="stop" mat-stroked-button mat-dialog-close mat-dialog-close (click)="leaveSession()">Stop
				</button>
				<button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close>Cancel</button>
			</mat-dialog-actions>
		</div>
	</ng-template>

	<ng-template #switchDialog>
		<div class="dialog">
			<h1 matDialogTitle>Switch Camera</h1>

			<div class="save">
				<mat-label>By switching your camera, you will lose the previous recording and start a new one</mat-label>
			</div>

			<mat-dialog-actions align="end">
				<button id="stop" mat-stroked-button mat-dialog-close mat-dialog-close (click)="toggleCamera()">OK
				</button>
				<button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close>Cancel</button>
			</mat-dialog-actions>
		</div>
	</ng-template>

</div>