<!-- <opv-session *ngIf="session" #ovSessionComponent [sessionName]="mySessionId" [user]="myUserName" [token]="tokens" [ovSettings]="ovSettings" (sessionCreated)="handlerSessionCreatedEvent($event)" (publisherCreated)="handlerPublisherCreatedEvent($event)"
    (error)="handlerErrorEvent($event)"> -->

<div *ngIf="session" id="session">
    <opv-session #ovSessionComponent [sessionName]="mySessionId" [user]="myUserName" [tokens]="tokens" (sessionCreated)="handlerSessionCreatedEvent($event)" (participantCreated)="handlerPublisherCreatedEvent($event)" (error)="handlerErrorEvent($event)">
    </opv-session>

    <!-- <opv-session [sessionName]="mySessionId" [user]="myUserName" [openviduServerUrl]="'https://localhost:4443'" [openviduSecret]="'MY_SECRET'"></opv-session> -->
</div>