<div *ngIf="isFollowers; else following">
    <mat-dialog-content>

        <div class="usersList">
            <mat-label align="center">Followers</mat-label>
            <hr>
            <mat-label *ngFor="let follower of arr" [value]="follower">
                <a href="/u/{{db.getUser(follower)?.uid}}" *ngIf="db.getUser(follower) != undefined">
                    <img src="{{db.getUser(follower)?.photoURL}}"
                        onError="this.onerror=null;this.src='/assets/images/logo.svg';" alt="Photo"
                        *ngIf="db.getUser(follower) != undefined">
                    {{db.getUser(follower)?.displayName}}
                </a>
                <br *ngIf="db.getUser(follower) != undefined">
            </mat-label>
        </div>
    </mat-dialog-content>
</div>

<ng-template #following>
    <mat-dialog-content>
        <div class="usersList">
            <mat-label align="center">Following</mat-label>
            <hr>
            <mat-label *ngFor="let following of arr" [value]="following">
                <a href="/u/{{db.getUser(following)?.uid}}" *ngIf="db.getUser(following) != undefined">
                    <img src="{{db.getUser(following)?.photoURL}}"
                        onError="this.onerror=null;this.src='/assets/images/logo.svg';" alt="User Avatar"
                        *ngIf="db.getUser(following) != undefined">
                    {{db.getUser(following)?.displayName}}
                </a>
                <br *ngIf="db.getUser(following) != undefined">
            </mat-label>
        </div>
    </mat-dialog-content>
</ng-template>