.nav {
    background-color: #efa297;
    position: sticky;
    /* position: -webkit-sticky; */
    overflow: hidden;
    top: 0;
    width: 100%;
 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 0.5fr; */
    /* grid-auto-rows: minmax(10%,auto); */
    justify-content: center;
    align-content: center;
    justify-items: center;
   
}
.welcome{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 8rem; */
   
}
/* .withoutfixed{
    margin-top: 140px;
} */

/* sign in (temp style) */
.navContainer a {
    margin: 1rem 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile {
    margin: 1rem 3rem;
    width:5%;
    max-width: 60px;
    min-width: 50px;
    cursor: pointer;
}
.profile:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    height: inherit;
    font-size: 1rem;
    
}
.input-container{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  
}
.inputImage{
    margin: 0 0.5rem;
}

.toolbar{
    background-color: #D58895;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 200px;
    align-items: center;
    transition: 0.6s;
    height: 100%;
}
.flexItem{
    display: flex;
    /* border: 2px solid white; */
    border-radius: 2rem;
    /* border-bottom: 2px solid black ; */
    margin:2rem;
    padding: 0.5rem 1rem;
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    color: white
}
.flexItem img{
    margin-right: 10px;
}
.flexItem:hover{
    background-color:#EFA297;
    cursor: pointer;
    transition: 0.5s;

}
.content{
    display: flex;
    height: 100%;
    /* background-color: green; */
}
@media (max-width: 700px) {
    .navButtonText{
        display: none;
        
    }
    .flexItem img{
        margin-right: 0;
        
    }
    .flexItem{
        justify-content: center;
    }
    .toolbar{
        width: 20%;
        transition: 0.6s;
    }
}