
.content{
    margin: 0rem 1rem  7rem;
    display: flex;
    flex-wrap: wrap;
    /* background-color: brown; */
     justify-content: center;
     /* margin-top: 0; */
}



@media (max-width: 768px) {
    .content{
        margin-bottom:5rem;
    }  
}


