.nav {
    background-color: #efa297;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin-bottom: 1rem;
}
.navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-auto-rows: minmax(1fr,auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.welcome{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
   
}

/* sign in (temp style) */
.navContainer p {
    margin: 1rem 2rem;
    font-size: 1.3rem;
}

.profile {
    margin:  1rem;
  
    min-width: 3%;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    
}
.input-container{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.3rem;
 margin-bottom: 0.5rem;
  
}
.inputImage{
    margin: 0 0.5rem;
}
