<!-- <div class="cont"> -->
<app-top-navbar></app-top-navbar>

<div class="content">


    <!-- <app-stream-card *ngFor="let livestream of livestreamsList" [title]="livestream.title" [name]="livestream.name"
        [username]="livestream.username" [views]="livestream.views" [likes]="livestream.likes"
        [dislikes]="livestream.dislikes" [inProfile]="false">
    </app-stream-card> -->
    <app-stream-card *ngFor="let livestream of livestreamsList" [livestream]= "livestream" >
    </app-stream-card>

</div>
<app-tool-bar></app-tool-bar>


<!-- <div class="toolbar">
        <div class="flexItems">
            <div class="flexItem">
                <img src="../../../assets/images/home.svg" alt="">
                <span class="navButtonText">Home</span>
            </div>
            <div class="flexItem">
                <img src="../../../assets/images/trend.svg" alt="">
                <span class="navButtonText">Trending</span>
            </div>
            <div class="flexItem">
                <img src="../../../assets/images/notification.svg" alt="">
                <span class="navButtonText">Notification</span>
            </div>
            <div class="flexItem">
                <img src="../../../assets/images/settings.svg" alt="">
                <span class="navButtonText">Settings</span>
            </div>
        </div>

    </div> -->
<!-- <div class="nav">
        <div class="navContainer">
            <div class="welcome">
                <a *ngIf="signed">welcome</a>
                <a *ngIf="!signed">Sign in</a>
                <img (click)="clicked()" class="profile" src="../../../assets/images/profile.svg" alt="">
            </div>
            <div class="input-container">
                <img class="inputImage" src="../../../assets/images/search.svg" alt="">
                <input type=" search" name="" class="input" placeholder="Search">
                <img class="inputImage" src="../../../assets/images/filter.svg" alt="">
            </div>
        </div>
    </div> -->
<!-- </div> -->





<!-- <div *ngIf="mobile; else desktop" class="nav"> -->
<!-- <div class="homeContainer"> -->


<!-- <div class="content">
    <div class="toolbar">
        <div class="flexItem">
            <img src="../../../assets/images/home.svg" alt="">
            <span class="navButtonText">Home</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/trend.svg" alt="">
            <span class="navButtonText">Trending</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/notification.svg" alt="">
            <span class="navButtonText">Notification</span>
        </div>
        <div class="flexItem">
            <img src="../../../assets/images/settings.svg" alt="">
            <span class="navButtonText">Settings</span>
        </div>
    </div>
</div> -->







<!-- <div class="withoutfixed">
   
</div> -->






<!-- <app-navbar></app-navbar> -->
<!-- <ng-template #desktop>
    <div class="nav">
        e
        <p *ngIf="signed">welcome</p>
        <p *ngIf="!signed">sign in</p>
    </div>
    </ng-template> *ngIf="!signed">sign in</p> -->

<!-- <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="email" name="" id="email" class=" input">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> -->

<!-- </div> -->