<!-- <div *ngIf="mobile; else desktop" class="nav"> -->
    <!-- <div class="homeContainer"> -->
    <div class="nav">
        <div class="navContainer">
            <div class="welcome">
                <p *ngIf="signed">welcome</p>
                <p *ngIf="!signed">sign in</p>
                <img class="profile" src="../../../assets/images/profile.svg" alt="">
            </div>
            <div class="input-container">
                <img class="inputImage" src="../../../assets/images/search.svg" alt="">
                <input type=" search" name="" class=" input" placeholder="Search">
                <a href="#"><img class="inputImage" src="../../../assets/images/filter.svg" alt=""></a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="toolbar">
            <div class="flexItem">home</div>
            <div class="flexItem">trend</div>
            <div class="flexItem">notification</div>
            <div class="flexItem">settings</div>
        </div>

        <div class="p">
            <p>sas</p>
        </div>
    </div>
    

    




<!-- <div class="withoutfixed">
   
</div> -->






<!-- <app-navbar></app-navbar> -->
<!-- <ng-template #desktop>
    <div class="nav">
        e
        <p *ngIf="signed">welcome</p>
        <p *ngIf="!signed">sign in</p>
    </div>
    </ng-template> *ngIf="!signed">sign in</p> -->

<!-- <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="email" name="" id="email" class=" input">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> -->
    
    <!-- </div> -->