img{
    outline: none;
}
.nav {
    background-color: #efa297;
    /* position: sticky; */
    /* overflow: hidden; */
    top: 0;
    /* width: 100%; */
    height: fit-content;
  
}
.navContainer {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.welcome{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}


/* sign in (temp style) */
.welcome a {
    margin: 1rem 0rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.profile {
    margin: 1rem 0rem;
    margin-right: 2rem;
    width:5%;
    max-width: 60px;
    min-width: 50px;
    cursor: pointer;
}
.profile:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    height: inherit;
    font-size: 1rem;
    
}
.input-container{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  
}
.inputImage{
    margin: 0 0.5rem;
    margin-left: 0.1rem;
    width: 8%;
    max-width: 25px;
}
.filter:hover{
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .input-container{
        height: 2rem;
    }
    .welcome a{
        margin: 0;
        margin-left: 1rem;
        font-size: 1.3rem;
    }
    .profile {
        margin:0.5rem 0rem;
        margin-right: 1rem;
        width:5%;
        max-width: 60px;
        min-width: 45px;
        cursor: pointer;
    }
    .input-container{
        margin-bottom: 0.5rem;
    }
}