<div class="nav">
    <div class="navContainer">
        <div class="welcome">
            <a>{{ this.db.me?.displayName||'welcome' }}</a>
            <!-- <a *ngIf="!signed">Sign in</a> -->
            <img routerLink="/profile" class="profile" src="../../../assets/images/profile.svg" alt="">
        </div>
        <div class="input-container">
            <img class="inputImage" src="../../../assets/images/search.svg" alt="">
            <input type=" search" name="" class="input" placeholder="Search" (keyup)="search($event)">
            <!-- <h1>test</h1> -->
            <img class="inputImage filter" src="../../../assets/images/filter.svg" alt="">
        </div>
        <ng-container>
            <div class="searchMenu" *ngFor="let user of items">
                <img class="searchImg" src="{{user.photoURL}}"
                    onError="this.onerror=null;this.src='/assets/images/logo.svg';">
                <a href="./u/{{user.uid}}">
                    <pre>{{user.displayName}}<br><small>@{{ user.username }}</small></pre>
                </a>
            </div>
        </ng-container>
    </div>
</div>