<div class="nav">
    <div class="navContainer">
        <div class="welcome">
            <a>welcome</a>
            <!-- <a *ngIf="!signed">Sign in</a> -->
            <img class="profile" src="../../../assets/images/profile.svg" alt="">
        </div>
        <div class="input-container">
            <img class="inputImage" src="../../../assets/images/search.svg" alt="">
            <input type=" search" name="" class=" input" placeholder="Search">
            <img class="inputImage" src="../../../assets/images/filter.svg" alt="">
        </div>
    </div>
</div>