<div class="top">
    <span class="Notifications">Notifications</span>
    <img class="settings" src="./assets/images/settings.svg" alt="" routerLink='/settings'>
</div>
<hr />
<div class="content" *ngIf="!this.db?.me">
    <app-unsigned-user-view></app-unsigned-user-view>
</div>
<div *ngIf="this.db?.me" class="notificationsContainer">
    <app-notification-card *ngFor="let notification of notifications" [notification]="notification" ></app-notification-card>

</div>
<app-tool-bar (scrollEvent)="scroll()" [where]="'notification'"></app-tool-bar>