<div class="top">
    <span class="Notifications">Notifications</span>
</div>
<hr />
<div class="content" *ngIf="!this.db?.me">
    <!-- <app-stream-card  *ngFor="let livestream of this.db.livestreamsCollection | keyvalue" [livestream]="livestream.value">
    </app-stream-card> -->
    <!-- <img style="margin-top: 5rem;"  src="./assets/images/logo.svg"> -->
    <app-unsigned-user-view></app-unsigned-user-view>
</div>
<div *ngIf="this.db?.me" class="notificationsContainer">
    <app-notification-card *ngFor="let notification of notifications" [notification]="notification" ></app-notification-card>

</div>
<app-tool-bar [where]="'notification'"></app-tool-bar>