.top{
    width: 100%;
    display: flex;
    background-color: #EFA297;
    align-items: center;
    justify-content: center;
    /* height: 2rem; */
   padding: 2rem;
}
.notification{
    display: flex;
}
.Notifications{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.notificationsContainer{
    margin-bottom: 7rem;
}


.notificationContainer{
    border-bottom: 1px solid #9A9A9A;
    padding: 0.5rem;
    /* background-color: blue; */
}

.settings{
    /* margin-left: auto; */
    position: absolute;
    right: 0px;
    margin-right: 1rem;
    padding: 10px;
    cursor: pointer;
    width: 55px;
}
.settings:hover{
    width: 60px;
    transition: 0.4s;
}
@media (max-width: 768px) {
    .settings{
        width: 45px;
    }
    .settings:hover{
        width: 50px;
        transition: 0.4s;
        
    }
}