<div class="dialog">

    <div class="content">
        <h1 mat-dialog-title>Start a Livestream</h1>

        <mat-form-field class="title" color="accent">
            <input #title1 matInput placeholder="Title" [formControl]="title" maxlength="20">
            <mat-error *ngIf="title.hasError('required')">
                Title is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="privacy">
            <mat-label>Livestream Privacy:</mat-label>
            <mat-slide-toggle #privacy [(ngModel)]="privacyisChecked">Only Followers</mat-slide-toggle>
        </div>

        <div class="save">
            <mat-label>Do you want the Livestream to be saved in your profile after finshed?</mat-label>
            <mat-slide-toggle #saved [(ngModel)]="saveisChecked">Yes</mat-slide-toggle>
        </div>
    </div>



    <mat-dialog-actions align="center">
        <button [disabled]="title1.value ==''" id="start" mat-stroked-button mat-dialog-close mat-dialog-close
            (click)="startLivestream(title1.value)">Start</button>
        <button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

</div>