<div *ngIf="!this.anotherUser.blockingUsers?.includes(this.db.me.uid); else blocked">
    <div class="topPart">
        <div class="topOptions">
            <img routerLink="/home" class="arrow" src="../../../assets/images/arrow.svg" alt="">
        </div>
        <div class="topInfo">
            <div class="avatar"> <img class="avatar" [src]="anotherUser?.photoURL"
                    onError="this.onerror=null;this.src='/assets/images/logoWhite.svg';" alt="Profile Photo"></div>
            <div class="name">
                {{anotherUser?.displayName || "User not found"}}
            </div>
            <div class="username">
                @{{anotherUser?.username || "User not found"}}
            </div>
            <div class="bio">
                {{bio}}
            </div>
            <div class="follow">
                <div class="following" (click)="openDialog($event,'following', anotherUser?.followingUsers)">
                    {{anotherUser?.followingUsers?.length || 0}} Following</div>
                <div class="followers" (click)="openDialog($event,'followers', anotherUser?.followersUsers)">
                    {{anotherUser?.followersUsers?.length || 0}} Followers</div>
            </div>
            <div class="follow">
                <button class="btn" id="btn2"
                    (click)="followUnfollow()">{{db.me.followingUsers?.includes(anotherUser.uid) ?
                    'Unfollow' : 'Follow'}}</button>
                <button class="btn" id="btn2" (click)="blockUnblock()">{{db.me.blockingUsers?.includes(anotherUser.uid)
                    ?
                    'Unblock' : 'Block'}}</button>
            </div>
        </div>
    </div>
    <div class="content">
        <app-stream-card *ngFor="let livestream of livestreamsList" [livestream]="livestream">
        </app-stream-card>
    </div>
    <app-tool-bar></app-tool-bar>
</div>

<ng-template #blocked>
    <div class="topPart">
        <div class="topOptions">
            <img routerLink="/home" class="arrow" src="../../../assets/images/arrow.svg" alt="">
        </div>
        <div class="topInfo">
            <div class="avatar"> <img class="avatar" src="/assets/images/logoWhite.svg" alt="Profile Photo"></div>
            <div class="name">
                {{anotherUser?.displayName || "User not found"}}
            </div>
            <div class="username">
                @{{anotherUser?.username || "User not found"}}
            </div>
            <div class="bio">
                This user has blocked you from following them.
            </div>
            <div class="follow">
                <button class="btn" id="btn2" (click)="blockUnblock()">{{db.me.blockingUsers?.includes(anotherUser.uid)
                    ?
                    'Unblock' : 'Block'}}</button>
            </div>
        </div>
    </div>
    <div class="follow display-2">
        You can't view this users' content.
    </div>
    <app-tool-bar></app-tool-bar>
</ng-template>