app-home{
    height: 100%;
    width: 100%;
}

.spinner{
    background: linear-gradient(0deg, rgba(239, 162, 151, 1) 0%, rgba(239, 162, 151, 1) 17%, rgba(213, 136, 149, 1) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}