<div *ngIf="isFollowers; else following">
    <mat-dialog-content>

        <div class="usersList">
            <mat-label align="center">Followers</mat-label>
            <hr>
            <mat-label *ngFor="let follower of arr" [value]="follower">{{follower.displayName}}
                <br>
            </mat-label>
        </div>
    </mat-dialog-content>
</div>

<ng-template #following>
    <mat-dialog-content>
        <div class="usersList">
            <mat-label align="center">Following</mat-label>
            <hr>
            <mat-label *ngFor="let follower of arr" [value]="follower">{{follower.displayName}}
                <br>
            </mat-label>
        </div>
    </mat-dialog-content>
</ng-template>