<div class="container">
    <div class="leftPart">
        <div class="welcomeImageContainer">
            <img class="welcomeImage" src="../assets/images/welcomeImage{{imageNumber}}.svg" alt="">
        </div>

    </div>
    <div class="rightPart">
        <img class='logo' src="../assets/images/logo.svg" alt="">
        <button (click)="openDialog($event,'signin')" class="btn" id="btn1">Sign in</button>
        <button class="btn" id="btn2">Continue</button>
        <a (click)="openDialog($event,'signup')" href="#">Sign up</a>
    </div>
</div>