<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="title">Name of the user
        </mat-card-title>
        <mat-card-subtitle class="subtitle">@username</mat-card-subtitle>
    </mat-card-header>
    <mat-icon class="mat-avatar">person</mat-icon>
    <mat-card-content class="content">
        <p>
            Stream Title
        </p>
    </mat-card-content>
    <mat-card-content class="views">
        <p>
            <mat-icon>remove_red_eye</mat-icon>
            3000
        </p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <p>
            <!-- <mat-icon>thumb_up_off_alt</mat-icon> -->
            <mat-icon>thumb_up</mat-icon>
            50
            <mat-icon>thumb_down_off_alt</mat-icon>
            3
            <!-- <mat-icon>thumb_down</mat-icon> -->
        </p>

    </mat-card-actions>
</mat-card>