<div class="card">
    <span class="name">Name</span>
    <span class="username">username</span>
    <img class="avatar" src="./assets/images/profile.svg" alt="">
    <div class="title">vcvc</div>
    <div class="views">50</div>
    <div class="liking">
        <div class="likes"> <img src="./assets/images/like.svg" alt=""> 50</div>
        <div class="dislikes"><img src="./assets/images/dislike.svg" alt=""> 50</div>
    </div>


</div>



<!-- <mat-card class="example-card">
    <div class="cardContainer">
        <mat-card-header>
            <mat-card-title class="name">{{name}}
            </mat-card-title>
            <mat-card-subtitle class="username">{{username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-icon >person</mat-icon>
        <mat-card-content class="content">
            <p>
                {{title}}
            </p>
        </mat-card-content>
        <mat-card-content class="views">
            <p>
                <mat-icon>remove_red_eye</mat-icon>
                {{views}}
            </p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <p>
                 <mat-icon>thumb_up_off_alt</mat-icon> -->
<!-- <mat-icon>thumb_up</mat-icon> -->
<!-- {{likes}} -->
<!-- <mat-icon>thumb_down_off_alt</mat-icon> -->
<!-- {{dislikes}} -->
<!-- <mat-icon>thumb_down</mat-icon> -->
<!-- </p>

        </mat-card-actions>
    </div>

</mat-card> -->