<div class="Background-div">

    <div class="liveDiv">

        <mat-card class="settingCard">

            <!-- Card Title -->
            <mat-card-title class="cardTitle">Start a Livestream</mat-card-title>

            <form [formGroup]="myForm">
                Value: {{ myForm.value | json }}
                <hr>
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>

                <div class="privacyStatus">Livestream Privacy:
                    <br>
                    <mat-slide-toggle formControlName="private">Private</mat-slide-toggle>
                </div>

                <!-- Users list -->
                <div class="usersList">
                    Allowed follwers:
                    <br>
                    <mat-form-field appearance="fill" color="accent" class="fullWidth">
                        <mat-label>Users</mat-label>
                        <mat-select [disabled]="!myForm.get('private').value" multiple>
                            <mat-option value="All">All</mat-option>
                            <mat-option (onSelectionChange)="onCheckChange($event)" *ngFor="let user of usersList; let i=index;" [value]="user.value">{{user.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Save Livestream Toggle Button -->
                <div class="saveStream">
                    Do you want the Livestream to be saved in your profile after finshed?
                    <br>
                    <mat-slide-toggle formControlName="saveStream">Yes</mat-slide-toggle>
                </div>

                <!-- Start&Canncel buttons -->
                <div>
                    <button class="btn" id="btn1">Start</button>
                    <button class="btn" id="btn2">Cancel</button>
                </div>
            </form>


        </mat-card>

    </div>
</div>