<div class="topPart">
    <div class="topOptions">
        <img (click)="BackToLastPage()" class="arrow topOption" src="/assets/images/arrow.svg" alt="">
        <span class="topOption">My Account</span>
        <span class="edit topOption" (click)="openDialogEdit()">Edit</span>
       
    </div>

    <div class="topInfo">
        <div class="avatar"> <img class="avatar" [src]="db.me.photoURL"
                onError="this.onerror=null;this.src='/assets/images/logoWhite.svg';" alt="Profile Photo"></div>
        <div class="name">
            {{db.me.displayName}}
        </div>
        <div class="username">
            @{{db.me.username}}
        </div>
        <div class="bio">
            {{db.me.bio}}
        </div>
        <div class="follow">
            <!-- remove event param becuase it do nothing -->
            <div class="following" (click)="openDialogList('following', db.me?.followingUsers)">
                {{db.me?.followingUsers?.length || 0}} Following</div>
            <div class="followers" (click)="openDialogList('followers', db.me?.followersUsers)">
                {{db.me?.followersUsers?.length || 0}} Followers</div>
        </div>
    </div>
</div>
<div class="content">
    <!-- <app-stream-card *ngFor="let livestream of livestreamsList" [title]="livestream.title" [name]="db.me.displayName"
        [username]="db.me.username" [views]="livestream.views" [likes]="livestream.likes"
        [dislikes]="livestream.dislikes" [inProfile]="true" [photoURL]="livestream.photoURL">
    </app-stream-card> -->

    <app-stream-card (deleteEvent)="deleteLivestream($event)" *ngFor="let livestream of livestreamsList" [livestream]="livestream" [inProfile]="true">
    </app-stream-card>
    <!-- <img *ngIf="livestreamsList.length == 0" style="margin: auto; margin-top: 5rem;"  src="./assets/images/logo.svg"> -->
<app-no-content *ngIf="livestreamsList.length == 0" [where]="'myProfile'"></app-no-content>

    <!-- <app-stream-card [title]="title" [name]="name" [username]="username" [likes]="likes" [dislikes]="dislikes">
    </app-stream-card>
    <app-stream-card [title]="title" [name]="name" [username]="username" [likes]="likes" [dislikes]="dislikes">
    </app-stream-card> -->
</div>


<app-tool-bar [where]="'profile'"></app-tool-bar>