<div class="topPart">

    <div class="topOptions">
        <img routerLink="/home" class="arrow" src="../../../assets/images/arrow.svg" alt="">
        <span>My Account</span>
        <span class="edit">Edit</span>
    </div>

    <div class="topInfo">
        <div class="avatar"></div>
        <div class="name">
            Abdullah ibrahim
        </div>
        <div class="username">
            @abdullah
        </div>
        <div class="bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, tempora!
        </div>
        <div class="follow">
            <div class="following">x Following</div>
            <div class="followers">y Followers</div>
        </div>
    </div>
</div>
<app-tool-bar></app-tool-bar>