<div class="topPart">
    <div class="topOptions">
        <img (click)="BackToLastPage()" class="arrow topOption" src="./assets/images/arrow.svg" alt="">
        <span class="topOption">My Account</span>
        <span class="edit topOption" (click)="openDialogEdit()">Edit</span>
       
    </div>

    <div class="topInfo">
        <div > <img class="avatar" [src]="db.me.photoURL"
                onError="this.onerror=null;this.src='./assets/images/logoWhite.svg';" alt="Profile Photo"></div>
        <div class="name">
           <span>{{db.me.displayName}}</span> 
           <mat-icon *ngIf = "this.db.me?.isPrivate">lock</mat-icon>
        </div>
        
        <div class="username">
            @{{db.me.username}}
        </div>
        <div class="bio">
            {{db.me.bio}}
        </div>
        <div class="follow">
            <!-- remove event param becuase it do nothing -->
            <div class="following" (click)="openDialogList('following', db.me?.followingUsers)">
                {{db.me?.followingUsers?.length || 0}} Following</div>
            <div class="followers" (click)="openDialogList('followers', db.me?.followersUsers)" [matBadge]="db.me.pendingFollowers?.length"  
            [matBadgeHidden]="db.me.pendingFollowers?.length==0">
                {{db.me?.followersUsers?.length || 0}} Followers</div>
        </div>
    </div>
</div>
<app-no-content *ngIf="livestreamsList.length == 0" [where]="'myProfile'"></app-no-content>

<div class="content">
   

    <app-stream-card (deleteEvent)="deleteLivestream($event)" *ngFor="let livestream of livestreamsList" [livestream]="livestream" [inProfile]="true">
    </app-stream-card>
    
</div>


<app-tool-bar [where]="'profile'"></app-tool-bar>