mat-form-field{
  width: 100%;
  margin: 0.3rem 0rem;
  font-size: 1rem;
}
button{
    margin: 0.3rem 0.5rem;
    width: 100%;
}
#signUp, #signIn{
    color: #D58895;
    border: 2px solid #D58895;
    background: transparent;
    }
    
    #signUp:hover , #signIn:hover{
        border:solid 2px gray;
        color: gray;
        cursor: pointer;
        transition: 0.5s;
    }
#cancel{
    background:#D58895;
    color: white;
    margin-bottom: 1rem;
}
#cancel:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.forgot{
    cursor: pointer;
    color: #D58895;
    margin-bottom: 10px;
}
.forgot:hover{
    font-size: 1rem;
    transition: 0.5s;
}
