<div *ngIf="isSignup;else signin">
    <h1 mat-dialog-title>Sign up</h1>
    <mat-dialog-content>

        <mat-form-field hintLabel="must be unique">
            <mat-label>User name</mat-label>
            <input required   #username matInput type="text" name="" id="username" class="input" [formControl]="userName" maxlength="20" (keyup)="foundUsername()">
            <mat-error>{{getErrorMessage("username")}}</mat-error>
        </mat-form-field>


        <mat-form-field hintLabel="your displayed name">
            <mat-label>Name</mat-label>
            <input required #name matInput type="text" name="" id="name" class="input" [formControl]="Name" maxlength="30">
            <mat-error >Not a valid name</mat-error>
        </mat-form-field>


        <mat-form-field hintLabel="ex@example.com">
            <mat-label>Email</mat-label>
            <input required #userEmail matInput type="email" name="" id="email" class="input" [formControl]="email" (keyup)="foundEmail()">
            <mat-error >{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="should be more than 6 characters">
            <mat-label>Password</mat-label>
            <input required  #userPwd matInput type="password" name="" id="password" class="input" [formControl]="password" (keyup)="checkPasswordMatch()">
            <mat-error >Not a valid password</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input required #userPwdConf matInput type="password" name="" id="passwordConfirm" class="input" [formControl]="password2" (keyup.enter)="signUp(userEmail.value,username.value,name.value,userPwd.value); closeDialog()">
            <mat-error >not match</mat-error>
        </mat-form-field>


    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button [disabled]="!correctSignUp" (click)="signUp(userEmail.value,username.value,name.value,userPwd.value)" id="signUp" mat-stroked-button mat-dialog-close >Sign
            up</button>
        <button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close="true">cancel</button>

    </mat-dialog-actions>
</div>

<ng-template #signin>
    <h1 mat-dialog-title>Sign in</h1>
    <mat-dialog-content>
        <mat-form-field hintLabel="ex@example.com">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="" id="email" class=" input" [formControl]="email" #userName >
            <mat-error >Not a valid email</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="should be more than 6 characters">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="" id="password" class="input" #userPassword  (keyup.enter)="signIn(userName.value,userPassword.value); closeDialog()">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button #signin  (click)="signIn(userName.value,userPassword.value)" id="signIn" mat-stroked-button mat-dialog-close>Sign
            in</button>
        <button id="cancel" mat-stroked-button mat-dialog-close mat-dialog-close="true">cancel</button>
        
        <div routerLink="/forgotPassword" class="forgot" mat-dialog-close>
            Forgot password?
        </div>
    </mat-dialog-actions>

    
</ng-template>